.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: rgb(255, 200, 0);
  padding: 10px;
}
.theme{
    width: auto;
    background-color: transparent;
    border: none;
    transition: 0.7s all;
}
.theme:hover{
    cursor: pointer;
}
.theme:hover p{
    box-shadow: inset 0px 0px 15px rgb(34, 34, 237);
}
.theme p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    border-radius: 100%;
    background-color: rgb(25, 25, 183);
    box-shadow: 0px 0px 15px rgb(0, 0, 108);
    transition: 0.7s all;
}
.tema{
    display: none;
}
